@*
  _Layout.cshtml - layout mejorado que carga estilos y scripts
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Parchís - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@RenderSection("Scripts", required: false)
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/turn.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>