@model caso_de_uso_6_ejercer_turno.Models.Domain.Player
@{
    ViewData["Title"] = "Fin del turno";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="big">Turno del siguiente jugador</div>
<p>Has finalizado tu turno.</p>
<p><a class="btn" href="/Turn/EsTuTurno">Continuar</a></p>
